[run]
source = .
branch = True
omit =
    *migrations*
    *settings/prod.py
    *wsgi.py
    .tox/*
    manage.py
    node_modules/

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if settings.DEBUG
