# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
*.py,cover
.coverage
.tox/
coverage.json
coverage.xml
htmlcov/

# Django
*.log
.data/
db.sqlite3

# pyenv
.python-version

# Environments
.env
.venv
ENV/
env/
env.bak/
venv/
venv.bak/

# Text editor / IDE settings
*.sublime-*
.idea/
.vscode/
